* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  margin: 0;
  /* font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", sans-serif; */
}

body {
  padding: 0px;
  margin: 0px;
  /* max-width: 1200px; */
}
